
<article class="sidebar" >
  <section class="logo-sidebar" >
    <h1><i class="bi bi-check2-square">CheckIt</i></h1>
    <button><i class="bi bi-layout-sidebar"></i></button>
  </section>

  <div class="divisor" ><hr></div>

  <section class="body-sidebar">

    <button id="add-sidebar" class="button-side" >
      <div>
        <i class="bi bi-plus-square-fill"></i>
        <p>Add</p>
      </div>
    </button>

    <div class="divisor" ><hr></div>

    <button class="button-side" >
      <div>
        <i class="bi bi-search"></i>
        <p>Search</p>
      </div>
    </button>

    <button class="button-side" >
      <div>
        <!-- <i class="bi bi-ho"></i> -->
        <i class="bi bi-house"></i>
        <p>Home</p>
      </div>
    </button>

    <button class="button-side" >
      <!-- <i class="bi bi-plus-square-fill"></i> -->
      <div class="important" >
        <i class="bi bi-exclamation-square"></i>
        <p>Important</p>
      </div>
      <span class="s-important" >1</span>
    </button>

    <button class="button-side" >
      <div>
        <i class="bi bi-inbox"></i>
        <p>OnTable</p>
      </div>
      <span>2</span>
    </button>

    <button class="button-side" >
      <div>
        <i class="bi bi-archive"></i>
        <p>Files</p>
      </div>
      <span>7</span>
    </button>

    <button class="button-side" >
      <div>
        <i class="bi bi-calendar-week"></i>
        <p>Cronos</p>
      </div>
      <span>3</span>
    </button>

    <div class="divisor" ><hr></div>

    <button class="button-side" >
      <div>
        <i class="bi bi-terminal"></i>
        <p>Proyectos</p>
      </div>
      <span>10</span>
    </button>

    <button class="button-side" >
      <div>
        <i class="bi bi-folder2-open"></i>
        <p>Carpetas</p>
      </div>
      <span>4</span>
    </button>
  </section>


</article>

