
<section class="sidebar-holder" >
  <!-- Component -->
  <app-sidebar></app-sidebar>

  <!-- Todo Component -->
  <div class="futter-sidebar">
    <!-- <div class="divisor"><hr></div> -->
      <button><i class="bi bi-person-lines-fill"></i> ContactUs</button>
      <button class="exit-b" >
        <i class="bi bi-box-arrow-left"></i>
      </button>
  </div>
</section>


<section class="body-holder" >
  <!-- Component -->
  <app-navbar></app-navbar>

  <div class="divisor"><hr></div>

  <!-- Component -->
  <app-body></app-body>
</section>


